CONFIG VCCAUX = 3.3;


##############################################################################
# SYSCLK Input
##############################################################################
NET "clk"        LOC = "L15" |IOSTANDARD = LVCMOS33 ;
NET "rst" 		LOC = "N4" |IOSTANDARD = LVCMOS33 ;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;


#########################################
## LEDs
#########################################
NET "LED<0>"   LOC = "U18" |IOSTANDARD = LVCMOS33;
NET "LED<1>"   LOC = "M14" |IOSTANDARD = LVCMOS33;
NET "LED<2>"   LOC = "N14" |IOSTANDARD = LVCMOS33;
NET "LED<3>"   LOC = "L14" |IOSTANDARD = LVCMOS33;
NET "LED<4>"   LOC = "M13" |IOSTANDARD = LVCMOS33;
NET "LED<5>"   LOC = "D4"  |IOSTANDARD = LVCMOS33;
NET "LED<6>"   LOC = "P16" |IOSTANDARD = LVCMOS33;
NET "LED<7>"   LOC = "N12" |IOSTANDARD = LVCMOS33;


#########################################
## SW
#########################################
#NET "sw<0>" LOC = "A10" |IOSTANDARD = LVCMOS33;
#NET "sw<1>" LOC = "D14" |IOSTANDARD = LVCMOS33;
#NET "sw<2>" LOC = "C14" |IOSTANDARD = LVCMOS33;
#NET "sw<3>" LOC = "P15" |IOSTANDARD = LVCMOS33;
#NET "sw<4>" LOC = "P12" |IOSTANDARD = LVCMOS33;
#NET "sw<5>" LOC = "R5" |IOSTANDARD = LVCMOS33;
#NET "sw<6>" LOC = "T5" |IOSTANDARD = LVCMOS33;
#NET "sw<7>" LOC = "E4" |IOSTANDARD = LVCMOS33;

#########################################
## Push Buttons
#########################################
#NET "btnu" LOC = "N4" |IOSTANDARD = LVCMOS33; #up
#NET "btnl" LOC = "P4" |IOSTANDARD = LVCMOS33; #Left
#NET "btnd" LOC = "P3" |IOSTANDARD = LVCMOS33; #down
#NET "btnr" LOC = "F6" |IOSTANDARD = LVCMOS33; #right
#NET "btnc" LOC = "F5" |IOSTANDARD = LVCMOS33; #center



NET "TMDS(0)"  	LOC = "D8" | IOSTANDARD = TMDS_33 ; # Blue
NET "TMDSB(0)"  LOC = "C8" | IOSTANDARD = TMDS_33 ;
NET "TMDS(1)"  	LOC = "C7" | IOSTANDARD = TMDS_33 ; # Red
NET "TMDSB(1)"  LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET "TMDS(2)"  	LOC = "B8" | IOSTANDARD = TMDS_33 ; # Green
NET "TMDSB(2)"  LOC = "A8" | IOSTANDARD = TMDS_33 ;
NET "TMDS(3)"  	LOC = "B6" | IOSTANDARD = TMDS_33 ; # Clock
NET "TMDSB(3)"  LOC = "A6" | IOSTANDARD = TMDS_33 ;


## onboard VHDCI
## Channnel 1 connects to P signals, Channel 2 to N signals
#NET "VSOUT"  LOC = "U16"; # Bank = 2,  Pin name = IO_L2P_CMPCLK,       Sch name = EXP-IO1_P
#NET "HSOUT"  LOC = "U15"; # Bank = 2,  Pin name = *IO_L5P,        		Sch name = EXP-IO2_P
##NET "SOGOUT"  LOC = "U13"; # Bank = 2,  Pin name = IO_L14P_D11,        Sch name = EXP-IO3_P
#NET "R<8>"  LOC = "M11"; # Bank = 2,  Pin name = *IO_L15P,        		Sch name = EXP-IO4_P
#NET "R<7>"  LOC = "R11"; # Bank = 2,  Pin name = IO_L16P,        		Sch name = EXP-IO5_P
#NET "R<6>"  LOC = "T12"; # Bank = 2,  Pin name = *IO_L19P,        		Sch name = EXP-IO6_P
#NET "R<5>"  LOC = "N10"; # Bank = 2,  Pin name = *IO_L20P,        		Sch name = EXP-IO7_P
#NET "R<3>"  LOC = "M10"; # Bank = 2,  Pin name = *IO_L22P,        		Sch name = EXP-IO8_P
#NET "R<2>"  LOC = "U11"; # Bank = 2,  Pin name = IO_L23P,        		Sch name = EXP-IO9_P
#NET "R<1>"  LOC = "R10"; # Bank = 2,  Pin name = IO_L29P_GCLK3,       	Sch name = EXP-IO10_P
#NET "R<0>" LOC = "U10"; # Bank = 2,  Pin name = IO_L30P_GCLK1_D13,   	Sch name = EXP-IO11_P
#NET "G<3>" LOC = "R8";  # Bank = 2,  Pin name = IO_L31P_GCLK31_D14,  	Sch name = EXP-IO12_P
#NET "G<2>" LOC = "M8";  # Bank = 2,  Pin name = *IO_L40P,        		Sch name = EXP-IO13_P
#NET "B<9>" LOC = "U8";  # Bank = 2,  Pin name = IO_L41P,        			Sch name = EXP-IO14_P
#NET "B<8>" LOC = "U7";  # Bank = 2,  Pin name = IO_L43P,        			Sch name = EXP-IO15_P
#NET "B<5>" LOC = "N7";  # Bank = 2,  Pin name = *IO_L44P,        		Sch name = EXP-IO16_P
#NET "B<4>" LOC = "T6";  # Bank = 2,  Pin name = IO_L45P,        			Sch name = EXP-IO17_P
#NET "B<1>" LOC = "R7";  # Bank = 2,  Pin name = IO_L46P,        			Sch name = EXP-IO18_P
#NET "B<0>" LOC = "N6";  # Bank = 2,  Pin name = *IO_L47P,        		Sch name = EXP-IO19_P
##NET "SDA" LOC = "U5";  # Bank = 2,  Pin name = IO_49P_D3,        		Sch name = EXP-IO20_P
#
##NET "OE_FIELD"  LOC = "V16"; # Bank = 2,  Pin name = IO_L2N_CMPMOSI,  Sch name = EXP-IO1_N
##NET "PWRDWN"  LOC = "V15"; # Bank = 2,  Pin name = *IO_L5N,        	Sch name = EXP-IO2_N
#NET "R<9>"  LOC = "V13"; # Bank = 2,  Pin name = IO_L14N_D12,        	Sch name = EXP-IO3_N
#NET "G<9>"  LOC = "N11"; # Bank = 2,  Pin name = *IO_L15N,        		Sch name = EXP-IO4_N
#NET "G<8>"  LOC = "T11"; # Bank = 2,  Pin name = IO_L16N_VREF,        	Sch name = EXP-IO5_N
#NET "G<7>"  LOC = "V12"; # Bank = 2,  Pin name = *IO_L19N,        		Sch name = EXP-IO6_N
#NET "R<4>"  LOC = "P11"; # Bank = 2,  Pin name = *IO_L20N,        		Sch name = EXP-IO7_N
#NET "G<6>"  LOC = "N9";  # Bank = 2,  Pin name = *IO_L22N,        		Sch name = EXP-IO8_N
#NET "G<5>"  LOC = "V11"; # Bank = 2,  Pin name = IO_L23N,        		Sch name = EXP-IO9_N
#NET "DATACK"  LOC = "T10"; # Bank = 2,  Pin name = IO_L29N_GCLK2,      Sch name = EXP-IO10_N
#NET "G<4>" LOC = "V10"; # Bank = 2,  Pin name = IO_L30N_GCLK0_USERCCLK,Sch name = EXP-IO11_N
#NET "G<1>" LOC = "T8";  # Bank = 2,  Pin name = IO_L31N_GCLK30_D15,    Sch name = EXP-IO12_N
#NET "G<0>" LOC = "N8";  # Bank = 2,  Pin name = *IO_L40N,        		Sch name = EXP-IO13_N
#NET "B<6>" LOC = "V8";  # Bank = 2,  Pin name = IO_L41N_VREF,        	Sch name = EXP-IO14_N
#NET "B<7>" LOC = "V7";  # Bank = 2,  Pin name = IO_L43N,        			Sch name = EXP-IO15_N
#NET "B<3>" LOC = "P8";  # Bank = 2,  Pin name = *IO_L44N,        		Sch name = EXP-IO16_N
#NET "B<2>" LOC = "V6";  # Bank = 2,  Pin name = IO_L45N,        			Sch name = EXP-IO17_N
##NET "CLAMP" LOC = "T7";  # Bank = 2,  Pin name = IO_L46N,        		Sch name = EXP-IO18_N
##NET "COAST" LOC = "P7";  # Bank = 2,  Pin name = *IO_L47N,        		Sch name = EXP-IO19_N
##NET "SCL" LOC = "V5";  # Bank = 2,  Pin name = IO_49N_D4,        		Sch name = EXP-IO20_N
#
#
#
#
#
###############################################################################
############################################################################
# DDR2 RAM 
############################################################################
NET "mcb3_dram_ck"   LOC = "G3"; # Bank = 3, Pin name = IO_L46P_M3CLK,     		  Sch name = DDR-CK_P
NET "mcb3_dram_ck_n"   LOC = "G1"; # Bank = 3, Pin name = IO_L46N_M3CLKN,    		  Sch name = DDR-CK_N
NET "mcb3_dram_cke"    LOC = "H7"; # Bank = 3, Pin name = IO_L53P_M3CKE,       		  Sch name = DDR-CKE
NET "mcb3_dram_ras_n"   LOC = "L5"; # Bank = 3, Pin name = IO_L43P_GCLK23_M3RASN,		  Sch name = DDR-RAS
NET "mcb3_dram_cas_n"   LOC = "K5"; # Bank = 3, Pin name = IO_L43N_GCLK22_IRDY2_M3CASN, Sch name = DDR-CAS
NET "mcb3_dram_we_n"    LOC = "E3"; # Bank = 3, Pin name = IO_L50P_M3WE,   			  Sch name = DDR-WE
NET "mcb3_rzq"	  LOC = "L6"; # Bank = 3, Pin name = IO_L31P,   				  Sch name = RZQ
NET "mcb3_zio"	  LOC = "C2"; # Bank = 3, Pin name = IO_L83P,   				  Sch name = ZIO
NET "mcb3_dram_ba<0>"    LOC = "F2"; # Bank = 3, Pin name = IO_L48P_M3BA0,        		  Sch name = DDR-BA0
NET "mcb3_dram_ba<1>"    LOC = "F1"; # Bank = 3, Pin name = IO_L48N_M3BA1,        		  Sch name = DDR-BA1
NET "mcb3_dram_ba<2>"    LOC = "E1"; # Bank = 3, Pin name = IO_L50N_M3BA2,       		  Sch name = DDR-BA2
NET "mcb3_dram_a<0>"     LOC = "J7"; # Bank = 3, Pin name = IO_L47P_M3A0,        		  Sch name = DDR-A0
NET "mcb3_dram_a<1>"     LOC = "J6"; # Bank = 3, Pin name = IO_L47N_M3A1,        		  Sch name = DDR-A1
NET "mcb3_dram_a<2>"     LOC = "H5"; # Bank = 3, Pin name = IO_L49N_M3A2,     			  Sch name = DDR-A2
NET "mcb3_dram_a<3>"     LOC = "L7"; # Bank = 3, Pin name = IO_L45P_M3A3,     			  Sch name = DDR-A3
NET "mcb3_dram_a<4>"     LOC = "F3"; # Bank = 3, Pin name = IO_L51N_M3A4,     			  Sch name = DDR-A4
NET "mcb3_dram_a<5>"     LOC = "H4"; # Bank = 3, Pin name = IO_L44P_GCLK21_M3A5,     	  Sch name = DDR-A5
NET "mcb3_dram_a<6>"     LOC = "H3"; # Bank = 3, Pin name = IO_L44N_GCLK20_M3A6,    	  Sch name = DDR-A6
NET "mcb3_dram_a<7>"     LOC = "H6"; # Bank = 3, Pin name = IO_L49P_M3A7,    			  Sch name = DDR-A7
NET "mcb3_dram_a<8>"     LOC = "D2"; # Bank = 3, Pin name = IO_L52P_M3A8,    			  Sch name = DDR-A8
NET "mcb3_dram_a<9>"     LOC = "D1"; # Bank = 3, Pin name = IO_L52N_M3A9,   			  Sch name = DDR-A9
NET "mcb3_dram_a<10>"    LOC = "F4"; # Bank = 3, Pin name = IO_L51P_M3A10,        		  Sch name = DDR-A10
NET "mcb3_dram_a<11>"    LOC = "D3"; # Bank = 3, Pin name = IO_L54N_M3A11,   			  Sch name = DDR-A11
NET "mcb3_dram_a<12>"    LOC = "G6"; # Bank = 3, Pin name = IO_L53N_M3A12,       		  Sch name = DDR-A12
NET "mcb3_dram_dq<0>"    LOC = "L2"; # Bank = 3, Pin name = IO_L37P_M3DQ0,       		  Sch name = DDR-DQ0
NET "mcb3_dram_dq<1>"    LOC = "L1"; # Bank = 3, Pin name = IO_L37N_M3DQ1,       		  Sch name = DDR-DQ1
NET "mcb3_dram_dq<2>"    LOC = "K2"; # Bank = 3, Pin name = IO_L38P_M3DQ2,       		  Sch name = DDR-DQ2
NET "mcb3_dram_dq<3>"    LOC = "K1"; # Bank = 3, Pin name = IO_L38N_M3DQ3,       		  Sch name = DDR-DQ3
NET "mcb3_dram_dq<4>"    LOC = "H2"; # Bank = 3, Pin name = IO_L41P_GCLK27_M3DQ4,        Sch name = DDR-DQ4
NET "mcb3_dram_dq<5>"    LOC = "H1"; # Bank = 3, Pin name = IO_L41N_GCLK26_M3DQ5,        Sch name = DDR-DQ5
NET "mcb3_dram_dq<6>"    LOC = "J3"; # Bank = 3, Pin name = IO_L40P_M3DQ6,       		  Sch name = DDR-DQ6
NET "mcb3_dram_dq<7>"    LOC = "J1"; # Bank = 3, Pin name = IO_L40N_M3DQ7,       		  Sch name = DDR-DQ7
NET "mcb3_dram_dq<8>"    LOC = "M3"; # Bank = 3, Pin name = IO_L36P_M3DQ8,    			  Sch name = DDR-DQ8
NET "mcb3_dram_dq<9>"    LOC = "M1"; # Bank = 3, Pin name = IO_L36N_M3DQ9,        		  Sch name = DDR-DQ9
NET "mcb3_dram_dq<10>"   LOC = "N2"; # Bank = 3, Pin name = IO_L35P_M3DQ10,        	  Sch name = DDR-DQ10
NET "mcb3_dram_dq<11>"   LOC = "N1"; # Bank = 3, Pin name = IO_L35N_M3DQ11,        	  Sch name = DDR-DQ11
NET "mcb3_dram_dq<12>"   LOC = "T2"; # Bank = 3, Pin name = IO_L33P_M3DQ12,       		  Sch name = DDR-DQ12
NET "mcb3_dram_dq<13>"   LOC = "T1"; # Bank = 3, Pin name = IO_L33N_M3DQ13,    		  Sch name = DDR-DQ13
NET "mcb3_dram_dq<14>"   LOC = "U2"; # Bank = 3, Pin name = IO_L32P_M3DQ14,        	  Sch name = DDR-DQ14
NET "mcb3_dram_dq<15>"   LOC = "U1"; # Bank = 3, Pin name = IO_L32N_M3DQ15,        	  Sch name = DDR-DQ15
NET "mcb3_dram_udqs"   LOC="P2"; # Bank = 3, Pin name = IO_L34P_M3UDQS,       		  Sch name = DDR-UDQS_P
NET "mcb3_dram_udqs_n"  LOC="P1"; # Bank = 3, Pin name = IO_L34N_M3UDQSN,        		  Sch name = DDR-UDQS_N
NET "mcb3_dram_dqs"   LOC="L4"; # Bank = 3, Pin name = IO_L39P_M3LDQS,        		  Sch name = DDR-LDQS_P
NET "mcb3_dram_dqs_n"  LOC="L3"; # Bank = 3, Pin name = IO_L39N_M3LDQSN,        		  Sch name = DDR-LDQS_N
NET "mcb3_dram_dm"    LOC="K3"; # Bank = 3, Pin name = IO_L42N_GCLK24_M3LDM,          Sch name = DDR-LDM
NET "mcb3_dram_udm"    LOC="K4"; # Bank = 3, Pin name = IO_L42P_GCLK25_TRDY2_M3UDM,	  Sch name = DDR-UDM
NET "mcb3_dram_odt"    LOC="K6"; # Bank = 3, Pin name = IO_L45N_M3ODT,        		  Sch name = DDR-ODT
NET "mcb3_dram_dq<*>"    IN_TERM = NONE;
NET "mcb3_dram_dqs"   IN_TERM = NONE;
NET "mcb3_dram_dqs_n"   IN_TERM = NONE;
NET "mcb3_dram_udqs"   IN_TERM = NONE;
NET "mcb3_dram_udqs_n"   IN_TERM = NONE;

NET "mcb3_dram_dq<*>"    IOSTANDARD = SSTL18_II;
NET "mcb3_dram_a<*>"     IOSTANDARD = SSTL18_II;
NET "mcb3_dram_ba<*>"    IOSTANDARD = SSTL18_II;

NET "mcb3_dram_dqs"   IOSTANDARD = DIFF_SSTL18_II;
NET "mcb3_dram_dqs_n"   IOSTANDARD = DIFF_SSTL18_II;
NET "mcb3_dram_udqs"   IOSTANDARD = DIFF_SSTL18_II;
NET "mcb3_dram_udqs_n"   IOSTANDARD = DIFF_SSTL18_II;
NET "mcb3_dram_ck"    IOSTANDARD = DIFF_SSTL18_II;
NET "mcb3_dram_ck_n"    IOSTANDARD = DIFF_SSTL18_II;

NET "mcb3_dram_cke"      IOSTANDARD = SSTL18_II;
NET "mcb3_dram_ras_n"     IOSTANDARD = SSTL18_II;
NET "mcb3_dram_cas_n"     IOSTANDARD = SSTL18_II;
NET "mcb3_dram_we_n"      IOSTANDARD = SSTL18_II;
NET "mcb3_dram_odt"      IOSTANDARD = SSTL18_II;
NET "mcb3_dram_dm"      IOSTANDARD = SSTL18_II;
NET "mcb3_dram_udm"      IOSTANDARD = SSTL18_II;
NET "mcb3_zio"      IOSTANDARD = SSTL18_II;
NET "mcb3_rzq"      IOSTANDARD = SSTL18_II;

###################################################################################
###CONFIG MCB_PERFORMANCE= STANDARD;
###################################################################################
### Timing Ignore constraints for paths crossing the clock domain 
###################################################################################
NET  "Inst_ddr2_wrapper/u_ddr2/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET  "Inst_ddr2_wrapper/u_ddr2/c3_pll_lock" TIG;
INST "Inst_ddr2_wrapper/u_ddr2/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;

###Please uncomment the below TIG if used in a design which enables self-refresh mode
###NET "image_buffer_comp/ramComp/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/SELFREFRESH_MCB_REQ" TIG;
NET "Inst_ddr2_wrapper/u_ddr2/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train" TIG; ## This path exists for DDR2 only
#########################################################################################################

